body * {
    display: none; /* This hides all elements within the body */
}

body {
    display: block;
    background-image: url("https://media.giphy.com/media/SggILpMXO7Xt6/giphy.gif");
    background-color: #cccccc;
   }
